/* You can add global styles to this file, and also import other style files */

.short-input {
    width: 140px;
    /* Ajustez la valeur en fonction de vos besoins */
}

.title {
    display: inline-block;
    padding: 10px;
    width: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}